<p-card header="Login Form" [style]="{padding:'0 1.3em'}">
    <div class="flex flex-column gap-2 mb-5">
        <label htmlFor="username">Username</label>
        <input pInputText id="username" aria-describedby="username-help"/>
        <small id="username-help">Enter your username to reset your password.</small>
    </div>
    
    <div class="flex flex-column gap-2 mb-6">
        <label htmlFor="password">Password</label>
        <p-password  [toggleMask]="true"></p-password>
        <small id="password-help">Enter your password to reset your password.</small>
    </div>

    <p-button (click)="login()" label="Login" class="w-full flex flex-column align-items-stretch mb-3"></p-button>
    <p-button (click)="register()" label="Sign Up" severity="success" class="w-full flex flex-column align-items-stretch"></p-button>
</p-card>

